<p id="notice"><%= notice %></p>



<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#basicInfo" data-toggle="tab">基本信息</a></li>
    <li><a href="#doctors" data-toggle="tab">医生信息</a></li>
    <li><a href="#productTypes" data-toggle="tab">加工项目</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="basicInfo">
        <%= render 'form' %>
    </div>    

    <div class="tab-pane" id="doctors">
      <%= link_to '添加医生', new_clinic_doctor_path(@clinic) , :class=>"btn active btn-info"%>
      <br/><br/>
      
        <table class="table table-bordered">
          <tr>
            <th>姓名</th>
            <th></th>
          </tr>

        <% @clinic.doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.name %></td>
            
            
             <td><%= link_to '查看', clinic_doctor_path(doctor), :class=>"btn-mini active btn-info" %>
            <%= link_to '修改', edit_clinic_doctor_path(doctor), :class=>"btn-mini active btn-info" %>
            <%= link_to '删除', [@clinic, doctor], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-mini active btn-info" %></td> 
          </tr>
        <% end %>
        </table>
    </div>

    <div class="tab-pane" id="productTypes">
      <p>加工项目信息</p>
    </div>

  </div>

</div>
