<%= form_for [@clinic, @doctor], :html => { :class => "form-horizontal"} do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, "医生姓名:",:class=>"control-label" %>
    <div class="controls"> <%= f.text_field :name %> </div>
  </div>


<!--   <div class="field">
    <%= f.label :clinic_id %><br />
    <%= f.number_field :clinic_id %>
  </div>
 -->  

  <div class="control-group">
    <div class="controls">
    <%= submit_tag "保存",:class => "btn btn-small"%>
    <%= link_to '取消', clinic_path(@clinic), :class=>'btn btn-small' %>
    </div>
  </div>



<!--  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
