<h1>Listing doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Clinid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.clinic_id %></td>
    <td><%= link_to 'Show', clinic_doctor_path(@clinic, doctor) %></td>
    <td><%= link_to 'Edit', edit_clinic_doctor_path(@clinic, doctor) %></td>
    <td><%= link_to 'Destroy', [@clinic, doctor], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctor', new_clinic_doctor_path(@clinic) %>
