<p id="notice"><%= notice %></p>

<%= link_to '添加订单', new_product_path , :class=>"btn active btn-info"%>

<br/><br/>

<table class="table table-bordered">
  <tr>
    <th>订单编号</th>
    <th>所属诊所</th>
    <th>主治医生</th>
    <th>负责人</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.clinic.name %></td>
    <td><%= product.doctor.name %></td>
    <td><%= product.responser %></td>
    <td><%= link_to '查看', product, :class=>"btn-mini active btn-info" %>
    <%= link_to '修改', edit_product_path(product), :class=>"btn-mini active btn-info" %>
    <%= link_to '删除', product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-mini active btn-info" %></td>
  </tr>
<% end %>
</table>