<p id="notice"><%= notice %></p>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#basicInfo" data-toggle="tab">基本信息</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="basicInfo">

        <%= link_to '返回', artifact_type_templates_path , :class=>"btn active btn-info"%>

        <dl class="dl-horizontal">
          <dt><span class="label label-info">项目名称:</span></dt>
          <dd><%= @artifact_type_template.name %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt><span class="label label-info">项目价格:</span></dt>
          <dd><%= @artifact_type_template.price %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt><span class="label label-info">描述信息:</span></dt>
          <dd><%= @artifact_type_template.description %></dd>
        </dl>

    </div>    
</div>
