<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Smart Dens</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>

<body>
    <%= render 'layouts/header'%>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
<!--                 <ul class="nav nav-list">
                   <li class="active"><a href="#">基本信息</a></li>
                   <li><a href="#">医生信息</a></li>
                   <li><a href="#">加工项目</a></li>
                </ul>
 -->          </div>
            <div class="span10">
                <%= yield %>
            </div>
    </div>

    <%= render 'layouts/footer'%>

    <%= debug(params) if Rails.env.development? %>
    </div><!--/.fluid-container-->
</body>
</html>
